header {
    height: 150px;
    width: 100%;
    background-color: #38AA5F;
    color: white;
    padding: 20px;
    position: relative;
}
  
header h1 {
    position: absolute;
    bottom: 20px;
    font-size: 24px;
    font-weight: 200;
}