header {
    height: 150px;
    width: 100%;
    background-color: #38AA5F;
    color: white;
    position: relative;
}
 
.logo {
    height: 42px;
    width: 210px;
    margin: 10px 20px;
}

header h1 {
    /* position: absolute; */
    margin-top: 40px;
    bottom: 0px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 200;
}

@media(max-width:375px){
    h1 {
        width: 250px;
    }
}