.desktopNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    width: 100%;
    background-color: #383D38;
    color: white;
    margin-bottom: 20px;
}

.mobile-nav {
    width: 200px;
    height: 48vh;
    background: #383D38;
    position: absolute;
    left: -200px;
    top: 0px;
    transition: 0.6s; 
}

.slide-menu {
    left: 0px;
    cursor: pointer;
}

.li-mobile {
    margin: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover {
    color: cornflowerblue;
}

.ham-menu {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background: url('ham-menu.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.sub-menu {
    font-size: 14px;
    margin-left: 30px;
}

.sub-menu:before {
    content: "> ";
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: cornflowerblue;
}

.dropdown:hover a {
    color: cornflowerblue;
}

.dropdown:hover a:hover {
    color: rgb(237, 150, 100);
}

@media(max-width: 768px){
    .desktopNav {
        display: none;
    }
    .ham-menu{
        display: block;
    }
    .ham-pad {
        padding-top: 20px;
        width: 50px;
        height: 50px;
        }
    .mobile-nav{
        height: 32vh;
    }
}

@media(max-width: 414px) {
    .mobile-nav{
        height: 56vh;
    }
}

@media(max-width: 412px) {
    .mobile-nav{
        height: 60vh;
    }
}

@media(max-width: 375px) {
    .mobile-nav{
        height: 60vh;
    }
}

@media(max-width: 360px) {
    .mobile-nav{
        height: 62vh;
    }
}

@media(min-width: 768px) {
    .mobile-nav{
        height: 40vh;
    }
}