.debits-credits-container {
    height: 100%;
    width: 100%;
    background-color: white;
    font-size: 14px;
    padding: 12px;
    margin: 5px 0px 5px 0px;
    box-shadow: 0px 1px 2px 0px gray;
}

.currency {
    text-align: right;
}

th {
    background-color: #3E9D4A;
    color: white;
}

@media(max-width: 375px){
    th, tr {
        font-size: 10px;
    }
}